In [97]:
import pandas as pd
df = pd.read_csv ('horrory - Oceny.csv')

In [98]:
df.drop(df.index[:1], inplace=True)
df.drop(df.index[112:], inplace=True)
df.rename(columns = {'Unnamed: 0':'Title'}, inplace = True)
df.set_index('Title', inplace=True)
df

,sredni hejt,xero,osar,marta,stawska,karolina,ania5,kacper,robercik,sasiadka6,...,wiktoria rapa,martyna yoga,cheetos,kinga,konrad,iwona,Agata,Bartek Crocinole,ile osob,średnia filmów
Title,,,,,,,,,,,,,,,,,,,,,
willy wonderland,"8,21",8,8,"8,5",10,8,8,7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
tigers are not afraid,"1,29",1,1,2,2,1,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
satanic panic,"4,29",7,3,3,5,2,5,5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
little monsters,"4,50",3,5,4,NaN,NaN,7,3,NaN,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
vvitch,"6,42",9,7,NaN,4,NaN,NaN,4,NaN,"5,5",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Poltergeist,"4,71",3,5,4,NaN,NaN,5,"7,5",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,7,NaN
Scare me,"7,71",10,10,9,NaN,NaN,5,7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,7,NaN
Caveat,"6,63",9,6,NaN,NaN,NaN,NaN,"5,5",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN

In [99]:
#Kto obejrzał WIĘCEJ niż 15 filmów?
people=[]
for i,j in df.count()[1:-2].items():
    if j>15:
        print(i,j)
        people.append(i)
people

xero 72
osar 64
marta 55
stawska  44
karolina 20
ania5 19
kacper 67
sasiadka6 52
2kej 24
wiku 21
rafal 27
alicja 16

['xero',
 'osar',
 'marta',
 'stawska ',
 'karolina',
 'ania5',
 'kacper',
 'sasiadka6',
 '2kej',
 'wiku',
 'rafal',
 'alicja']

In [100]:
df=df[people]
df

,xero,osar,marta,stawska,karolina,ania5,kacper,sasiadka6,2kej,wiku,rafal,alicja
Title,,,,,,,,,,,,
willy wonderland,8,8,"8,5",10,8,8,7,NaN,NaN,NaN,NaN,NaN
tigers are not afraid,1,1,2,2,1,1,1,NaN,NaN,NaN,NaN,NaN
satanic panic,7,3,3,5,2,5,5,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
little monsters,3,5,4,NaN,NaN,7,3,5,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
vvitch,9,7,NaN,4,NaN,NaN,4,"5,5",NaN,NaN,9,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Poltergeist,3,5,4,NaN,NaN,5,"7,5",NaN,NaN,NaN,"4,5",NaN
Scare me,10,10,9,NaN,NaN,5,7,NaN,NaN,NaN,"9,5",NaN
Caveat,9,6,NaN,NaN,NaN,NaN,"5,5",NaN,NaN,NaN,6,NaN

In [101]:
df.to_csv('dataset.csv', index=True)